/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgba(204, 204, 204, 0.411); }

/* p,h1,h2,h3,h4,h5,h6{
    margin: 0px !important;
} */

.main{
    width: 70%;
    margin : 0 auto;
    padding: 30px;
    /* border: 1px solid red; */
    height: calc(100% - 62px);
}
/* @media only screen and (min-width:1441px){
    .main{
        width: 80%;
    }
} */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.753);
    height: 8%;
    width: 100%;
    font-size: 26px;
    position: relative;
}

.body{
    padding: 20px;
    /* height: calc((100% - 10%) - 30px); */
    height: calc(92% - 40px);
    background-color: white;
    position: relative;
}

button .mat-icon{
    cursor: pointer !important;
}

button > *{
    cursor: pointer !important;
}

.border-danger{
    border: 1px solid red;
}

.border-primary{
    border: 1px solid blue;
}
.modal-header{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-details{
    display: flex;
    gap: 2;
    align-items: top;
    padding: 0 20px;
}

.icon-details mat-icon{
    margin: 0px 15px 0 0;
    color: gray;
}

.clickable{
    cursor: pointer !important;
}

.moveable{
    cursor: move !important;
}
/* 
.text-center{
    text-align: center;
}

.d-flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}


.flex-column{
    flex-direction: column;
}

.flex-justify-between{
    justify-content: space-between;
}

.flex-align-center{
    align-items: center;
}


.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}

.h-5{
    height: 5%;
}

.h-10{
    height: 10%;
}

.h-15{
    height: 15%;
}
.h-20{
    height: 20%;
}
.bg-dark{
    background-color: rgba(0, 0, 0, 0.753);
}

.text-white{
    color : white;
}

.m-auto{
    margin: auto;
}


.fs-30{
    font-size: 30px;
} */
mat-form-field{
    width: 100%;
}
